$primary-color: #00c58d;
$secondary-color: #161f6a;
$gray-dark: #263a41;
$gray-light: #666d92;
$white: white;
$black: black;
$bg-block: #f4f4f4;
$primary-font: "Lato", sans-serif;
$secondary-font: "Rufina";
$wrapper: 192rem;
$container: 117rem;
